@model MVC.ModelView.HomeViewModel
@using MVC.Models
@{
    Layout = "~/Views/Shared/FloatingHeader.cshtml";
}

<!DOCTYPE html>
<html>
<style>
    html {
        background-image: url('../../images/backgroundwhite.jpg');
        background-size: cover;
    }
</style>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>SCE Management System</title>
</head>
<body>

</body>

</html>
